@charset "utf-8";

article{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 28px;
}
article ul{
    text-decoration: none;
}


figcaption{
    border: 5px solid black;
    padding-top: 30px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    height: 120px;
    width: 150px;
}

