@charset "utf-8";

article{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 28px;
}
article ul{
    text-decoration: none;
}

div.col-1-3 p{
    border: 3px solid black;
    text-align: center;
    padding:20px;
    margin:20px;


}

/* figcaption{
    border: 5px solid black;
    padding: auto;
    text-align: center;
    
} */

