@charset "utf-8";




/* this is the layout fior mobile */

@import url("e-main.css");


/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/

/* @media only screen and (max-width:480px){

    body footer{
        order: 100;
    }
    body{
        width: 100%;
        font-size: 52px;
    }
    div.col-1-5{
        width: 100%;
        align-self: center;
    }
    figure img{
        width:100%;
    }
    figure{
        margin:10px;
    }
    article img{
       height: 200px;
       width: 200px;
    }
    div.row p{
        clear: both;
        margin: 30px;
        padding: 30px;
    }
    div.row::after{
        clear: both;
        content: "";
        display: table;
    }
} */


/* ===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
   ===================================================
*/

@media only screen and (min-width: 481px){
    
}
